# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env
research/.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store